### Nominal / One Hot Encoding Technique
Nominal encoding is a technique used to transform categorical variables that have no intrinsic ordering into numerical values that can be used in machine learning models .Once common method for nominal encoding is one-hot encoding , which creates a binary vector for each category in the variables

Suppose maan lo humare paas Location , no of rooms , house size aur price ka feature h ab jo bas location m hi numerical value nai hoga . Maan lo agar location m just 3 hi h joki Noida , Bangalore mubmbai ab jab hum One Hot encoding use karenge to vo kya karega ki teen aur column bana dega jiska naam noida bangalore aur mumbai hoga , fir unme binary value daalega 0 ,1 basically sparse matrix bana dega

Disadvantages :-
1. Sparse MAtrix [Over fitting]
2. Number of features badh jaenge to usse model train nai hoga sai se

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
df =pd.DataFrame({
    'color' : ['red' , 'blue', 'green' ,'green', 'red' ,'red']
})

In [3]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5    red

In [4]:
# create an instance of one hard encoder
encoder =OneHotEncoder()

In [5]:
# fit the encoder to the data frame and transform the categorical varible
encoded= encoder.fit_transform(df[['color']])

In [7]:
pd.Data

<6x3 sparse matrix of type '<class 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [8]:
encoded_df =pd.DataFrame(encoded.toarray() , columns= encoder.get_feature_names_out())

In [9]:
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         0.0          0.0        1.0

In [11]:
pd.concat([df,encoded_df] ,axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5    red         0.0          0.0        1.0