### Target Guided Ordinal Encodng 
It is technique used to encode categorical variables based on their relationship with their target variables .this encodng technique is useful when we have a categorical variables with a large number of unique categories, and we want to use this variables as a feature in our machine learning models

In Target Guided Ordinal Encoding, we replace each categories in the categorical variable witha numerical value based on te mean or median of the target variables for that category . This creates a monotonic relationship between the categorical variable and the target variable and the target variable , which can improve the predictive power of our model

In [2]:
import pandas as pd

df= pd.DataFrame({
    'City' : ['New York' ,'London' ,'Paris' ,'Tokyo', 'New York' ,'Paris'],
    'price' : [200,150,300,250,180,320]
})

In [3]:
df.head()

       City  price
0  New York    200
1    London    150
2     Paris    300
3     Tokyo    250
4  New York    180

In [10]:
## Calculate the mean price for each city
mean_price=df.groupby('City')['price'].mean().to_dict()

In [11]:
## replace each city with its mean price
df['City_encoded'] = df['City'].map(mean_price)

In [12]:
df

       City  price  City_encoded
0  New York    200         190.0
1    London    150         150.0
2     Paris    300         310.0
3     Tokyo    250         250.0
4  New York    180         190.0
5     Paris    320         310.0