In [2]:
import pandas as pd

In [3]:
df= pd.read_csv('https://media.githubusercontent.com/media/datablist/sample-csv-files/main/files/organizations/organizations-100.csv')

In [4]:
df.columns

Index(['Index', 'Organization Id', 'Name', 'Website', 'Country', 'Description',
       'Founded', 'Industry', 'Number of employees'],
      dtype='object')

In [5]:
s= df['Name']

In [6]:
s

0                 Ferrell LLC
1     Mckinney, Riley and Day
2                  Hester Ltd
3              Holder-Sellers
4                 Mayer Group
               ...
95               Holmes Group
96                   Good Ltd
97          Clements-Espinoza
98                 Mendez Inc
99             Watkins-Kaiser
Name: Name, Length: 100, dtype: object

In [7]:
len(s)

100

In [16]:
GG =s[0:10:1]

In [9]:
type(s)

pandas.core.series.Series

In [13]:
l= ['a','b','c','d','e','f','g','h','i','j']

In [17]:
s1= pd.Series(list(GG),index= l)

In [19]:
s1

a                Ferrell LLC
b    Mckinney, Riley and Day
c                 Hester Ltd
d             Holder-Sellers
e                Mayer Group
f             Henry-Thompson
g             Hansen-Everett
h              Mcintosh-Mora
i                   Carr Inc
j                 Gaines Inc
dtype: object

In [20]:
s1[0] # iska matlab internal index jo tha vo usko yaad h

'Ferrell LLC'

In [23]:
s1['a']

'Ferrell LLC'

In [27]:
GG

0                Ferrell LLC
1    Mckinney, Riley and Day
2                 Hester Ltd
3             Holder-Sellers
4                Mayer Group
5             Henry-Thompson
6             Hansen-Everett
7              Mcintosh-Mora
8                   Carr Inc
9                 Gaines Inc
Name: Name, dtype: object

In [28]:
s1

a                Ferrell LLC
b    Mckinney, Riley and Day
c                 Hester Ltd
d             Holder-Sellers
e                Mayer Group
f             Henry-Thompson
g             Hansen-Everett
h              Mcintosh-Mora
i                   Carr Inc
j                 Gaines Inc
dtype: object

In [30]:
s1.append(GG)

AttributeError: 'Series' object has no attribute 'append'

In [31]:
A1=pd.Series([1,4,5,6,6,7,8,8],[1,4,5,3,2,5,6,88])

In [34]:
A2=pd.Series([1,2,9,6,6,7,8,7],[1,4,65,3,2,75,2,88])

In [35]:
A1*A2

1      1.0
2     36.0
2     48.0
3     36.0
4      8.0
5      NaN
5      NaN
6      NaN
65     NaN
75     NaN
88    56.0
dtype: float64