In [44]:
import pandas as pd

In [45]:
df=pd.read_csv('https://media.githubusercontent.com/media/datablist/sample-csv-files/main/files/organizations/organizations-100.csv')

In [46]:
df.columns

Index(['Index', 'Organization Id', 'Name', 'Website', 'Country', 'Description',
       'Founded', 'Industry', 'Number of employees'],
      dtype='object')

In [47]:
df.head()

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952
2,3,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971,Public Safety,5287
3,4,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com/,Turkmenistan,De-engineered systemic artificial intelligence,2004,Automotive,921
4,5,9eE8A6a4Eb96C24,Mayer Group,http://www.brewer.com/,Mauritius,Synchronized needs-based challenge,1991,Transportation,7870

In [48]:
df.drop('Website',axis=1)

,Index,Organization Id,Name,Country,Description,Founded,Industry,Number of employees
0,1,FAB0d41d5b5d22c,Ferrell LLC,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952
2,3,0bFED1ADAE4bcC1,Hester Ltd,China,Switchable scalable moratorium,1971,Public Safety,5287
3,4,2bFC1Be8a4ce42f,Holder-Sellers,Turkmenistan,De-engineered systemic artificial intelligence,2004,Automotive,921
4,5,9eE8A6a4Eb96C24,Mayer Group,Mauritius,Synchronized needs-based challenge,1991,Transportation,7870
...,...,...,...,...,...,...,...,...
95,96,0a0bfFbBbB8eC7c,Holmes Group,Ethiopia,Right-sized zero tolerance focus group,1975,Photography,2988
96,97,BA6Cd9Dae2Efd62,Good Ltd,Anguilla,Reverse-engineered composite moratorium,1971,Consumer Services,4292
97,98,E7df80C60Abd7f9,Clements-Espinoza,Falkland Islands (Malvinas),Progressive modular hub,1991,Broadcast Media,236
98,99,AFc285dbE2fEd24,Mendez Inc,Kyrgyz Republic,User-friendly exuding migration,1993,Education Management,339
99,100,e9eB5A60Cef8354,Watkins-Kaiser,Togo,Synergistic background access,2009,Financial Services,2785

In [49]:
df.head()  #permanent nai gaya

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952
2,3,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971,Public Safety,5287
3,4,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com/,Turkmenistan,De-engineered systemic artificial intelligence,2004,Automotive,921
4,5,9eE8A6a4Eb96C24,Mayer Group,http://www.brewer.com/,Mauritius,Synchronized needs-based challenge,1991,Transportation,7870

In [50]:
df.drop('Website',axis=1,inplace=True) # ab chala jaega permanently

In [51]:
df.head()

,Index,Organization Id,Name,Country,Description,Founded,Industry,Number of employees
0,1,FAB0d41d5b5d22c,Ferrell LLC,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952
2,3,0bFED1ADAE4bcC1,Hester Ltd,China,Switchable scalable moratorium,1971,Public Safety,5287
3,4,2bFC1Be8a4ce42f,Holder-Sellers,Turkmenistan,De-engineered systemic artificial intelligence,2004,Automotive,921
4,5,9eE8A6a4Eb96C24,Mayer Group,Mauritius,Synchronized needs-based challenge,1991,Transportation,7870

In [52]:
df.set_index('Name')

,Index,Organization Id,Country,Description,Founded,Industry,Number of employees
Name,,,,,,,
Ferrell LLC,1,FAB0d41d5b5d22c,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498
"Mckinney, Riley and Day",2,6A7EdDEA9FaDC52,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952
Hester Ltd,3,0bFED1ADAE4bcC1,China,Switchable scalable moratorium,1971,Public Safety,5287
Holder-Sellers,4,2bFC1Be8a4ce42f,Turkmenistan,De-engineered systemic artificial intelligence,2004,Automotive,921
Mayer Group,5,9eE8A6a4Eb96C24,Mauritius,Synchronized needs-based challenge,1991,Transportation,7870
...,...,...,...,...,...,...,...
Holmes Group,96,0a0bfFbBbB8eC7c,Ethiopia,Right-sized zero tolerance focus group,1975,Photography,2988
Good Ltd,97,BA6Cd9Dae2Efd62,Anguilla,Reverse-engineered composite moratorium,1971,Consumer Services,4292
Clements-Espinoza,98,E7df80C60Abd7f9,Falkland Islands (Malvinas),Progressive modular hub,1991,Broadcast Media,236
Mendez Inc,99,AFc285dbE2fEd24,Kyrgyz Republic,User-friendly exuding migration,1993,Education Management,339
Watkins-Kaiser,100,e9eB5A60Cef8354,Togo,Synergistic background access,2009,Financial Services,2785

In [53]:
df.head()

,Index,Organization Id,Name,Country,Description,Founded,Industry,Number of employees
0,1,FAB0d41d5b5d22c,Ferrell LLC,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952
2,3,0bFED1ADAE4bcC1,Hester Ltd,China,Switchable scalable moratorium,1971,Public Safety,5287
3,4,2bFC1Be8a4ce42f,Holder-Sellers,Turkmenistan,De-engineered systemic artificial intelligence,2004,Automotive,921
4,5,9eE8A6a4Eb96C24,Mayer Group,Mauritius,Synchronized needs-based challenge,1991,Transportation,7870

In [54]:
d ={
    'Key1' : [1,3,4,5] ,
    'key2' : [2,3,5,3] ,
    'key3' : [1,3,5,7]
}

In [55]:
pd.DataFrame(d)

   Key1  key2  key3
0     1     2     1
1     3     3     3
2     4     5     5
3     5     3     7

In [56]:
df.dropna()  # jisme bhi NA hoga vo row udhadega

,Index,Organization Id,Name,Country,Description,Founded,Industry,Number of employees
0,1,FAB0d41d5b5d22c,Ferrell LLC,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952
2,3,0bFED1ADAE4bcC1,Hester Ltd,China,Switchable scalable moratorium,1971,Public Safety,5287
3,4,2bFC1Be8a4ce42f,Holder-Sellers,Turkmenistan,De-engineered systemic artificial intelligence,2004,Automotive,921
4,5,9eE8A6a4Eb96C24,Mayer Group,Mauritius,Synchronized needs-based challenge,1991,Transportation,7870
...,...,...,...,...,...,...,...,...
95,96,0a0bfFbBbB8eC7c,Holmes Group,Ethiopia,Right-sized zero tolerance focus group,1975,Photography,2988
96,97,BA6Cd9Dae2Efd62,Good Ltd,Anguilla,Reverse-engineered composite moratorium,1971,Consumer Services,4292
97,98,E7df80C60Abd7f9,Clements-Espinoza,Falkland Islands (Malvinas),Progressive modular hub,1991,Broadcast Media,236
98,99,AFc285dbE2fEd24,Mendez Inc,Kyrgyz Republic,User-friendly exuding migration,1993,Education Management,339
99,100,e9eB5A60Cef8354,Watkins-Kaiser,Togo,Synergistic background access,2009,Financial Services,2785

In [57]:
g1 =  df.groupby('Industry')

In [58]:
g1.mean('Founded')  # '.T'  se data ko ghuma dega

                                Index  Founded  Number of employees
Industry
Accounting                       74.0   1986.0               5004.0
Alternative Dispute Resolution   82.0   2002.0               4044.0
Architecture / Planning          19.0   1999.0               7961.0
Arts / Crafts                    50.0   1997.5               2800.0
Automotive                        4.0   2004.0                921.0
...                               ...      ...                  ...
Utilities                        35.0   2020.0               2610.0
Venture Capital / VC             34.0   1981.0               7443.0
Wholesale                        21.0   1986.0               5010.0
Wireless                         71.0   1982.0               6146.0
Writing / Editing                41.0   2006.0               9067.0

[72 rows x 3 columns]

In [59]:
df2 = df[0:5]

In [60]:
df3 = df[5:10]

In [61]:
df2

,Index,Organization Id,Name,Country,Description,Founded,Industry,Number of employees
0,1,FAB0d41d5b5d22c,Ferrell LLC,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952
2,3,0bFED1ADAE4bcC1,Hester Ltd,China,Switchable scalable moratorium,1971,Public Safety,5287
3,4,2bFC1Be8a4ce42f,Holder-Sellers,Turkmenistan,De-engineered systemic artificial intelligence,2004,Automotive,921
4,5,9eE8A6a4Eb96C24,Mayer Group,Mauritius,Synchronized needs-based challenge,1991,Transportation,7870

In [62]:
df3

,Index,Organization Id,Name,Country,Description,Founded,Industry,Number of employees
5,6,cC757116fe1C085,Henry-Thompson,Bahamas,Face-to-face well-modulated customer loyalty,1992,Primary / Secondary Education,4914
6,7,219233e8aFF1BC3,Hansen-Everett,Pakistan,Seamless disintermediate collaboration,2018,Publishing Industry,7832
7,8,ccc93DCF81a31CD,Mcintosh-Mora,Heard Island and McDonald Islands,Centralized attitude-oriented capability,1970,Import / Export,4389
8,9,0B4F93aA06ED03e,Carr Inc,Kuwait,Distributed impactful customer loyalty,1996,Plastics,8167
9,10,738b5aDe6B1C6A5,Gaines Inc,Uzbekistan,Multi-lateral scalable protocol,1997,Outsourcing / Offshoring,9698

In [63]:
df7 =pd.concat([df2,df3],axis=1)

In [64]:
df7.fillna("Nai hai")

,Index,Organization Id,Name,Country,Description,Founded,Industry,Number of employees,Index,Organization Id,Name,Country,Description,Founded,Industry,Number of employees
0,1.0,FAB0d41d5b5d22c,Ferrell LLC,Papua New Guinea,Horizontal empowering knowledgebase,1990.0,Plastics,3498.0,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai
1,2.0,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",Finland,User-centric system-worthy leverage,2015.0,Glass / Ceramics / Concrete,4952.0,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai
2,3.0,0bFED1ADAE4bcC1,Hester Ltd,China,Switchable scalable moratorium,1971.0,Public Safety,5287.0,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai
3,4.0,2bFC1Be8a4ce42f,Holder-Sellers,Turkmenistan,De-engineered systemic artificial intelligence,2004.0,Automotive,921.0,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai
4,5.0,9eE8A6a4Eb96C24,Mayer Group,Mauritius,Synchronized needs-based challenge,1991.0,Transportation,7870.0,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai
5,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,6.0,cC757116fe1C085,Henry-Thompson,Bahamas,Face-to-face well-modulated customer loyalty,1992.0,Primary / Secondary Education,4914.0
6,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,7.0,219233e8aFF1BC3,Hansen-Everett,Pakistan,Seamless disintermediate collaboration,2018.0,Publishing Industry,7832.0
7,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,8.0,ccc93DCF81a31CD,Mcintosh-Mora,Heard Island and McDonald Islands,Centralized attitude-oriented capability,1970.0,Import / Export,4389.0
8,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,9.0,0B4F93aA06ED03e,Carr Inc,Kuwait,Distributed impactful customer loyalty,1996.0,Plastics,8167.0
9,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,Nai hai,10.0,738b5aDe6B1C6A5,Gaines Inc,Uzbekistan,Multi-lateral scalable protocol,1997.0,Outsourcing / Offshoring,9698.0

In [65]:
dict1 ={ 
    'key1' : [1,2,3,6,7],
    'key2' : [2,3,4,7,9],
    'key3' : [1,2,3,8,11]
}

In [66]:
dict2 ={ 
    'key1' : [1,2,3,5,7],
    'key2' : [1,3,5,8,9],
    'key3' : [11,12,14,19,111]
}

In [67]:
data1 =pd.DataFrame(dict1)

In [68]:
data2 =pd.DataFrame(dict2)

In [69]:
data1

   key1  key2  key3
0     1     2     1
1     2     3     2
2     3     4     3
3     6     7     8
4     7     9    11

In [72]:
pd.merge(data1,data2)

Empty DataFrame
Columns: [key1, key2, key3]
Index: []

In [71]:
pd.merge(data1,data2,how='left')

   key1  key2  key3
0     1     2     1
1     2     3     2
2     3     4     3
3     6     7     8
4     7     9    11

In [73]:
# merge and join samaz nai aaya h firse dekho

In [76]:
df1=pd.read_csv('https://media.githubusercontent.com/media/datablist/sample-csv-files/main/files/organizations/organizations-100.csv')

In [77]:
df1.head()

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952
2,3,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971,Public Safety,5287
3,4,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com/,Turkmenistan,De-engineered systemic artificial intelligence,2004,Automotive,921
4,5,9eE8A6a4Eb96C24,Mayer Group,http://www.brewer.com/,Mauritius,Synchronized needs-based challenge,1991,Transportation,7870

In [78]:
df1['Salary']= df1['Number of employees'].apply(lambda x : x*10000)

In [79]:
df1.head()

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees,Salary
0,1,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498,34980000
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952,49520000
2,3,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971,Public Safety,5287,52870000
3,4,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com/,Turkmenistan,De-engineered systemic artificial intelligence,2004,Automotive,921,9210000
4,5,9eE8A6a4Eb96C24,Mayer Group,http://www.brewer.com/,Mauritius,Synchronized needs-based challenge,1991,Transportation,7870,78700000

In [87]:
def company_new_old(x) :
    if x>2000 :
        return "New"
    else :
        return "Old"

In [88]:
df1['Comapany_old_new'] =df1['Founded'].apply(company_new_old)

In [89]:
df1.head()

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees,Salary,Comapany_old_new
0,1,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498,34980000,Old
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952,49520000,New
2,3,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971,Public Safety,5287,52870000,Old
3,4,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com/,Turkmenistan,De-engineered systemic artificial intelligence,2004,Automotive,921,9210000,New
4,5,9eE8A6a4Eb96C24,Mayer Group,http://www.brewer.com/,Mauritius,Synchronized needs-based challenge,1991,Transportation,7870,78700000,Old